html{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: bold;
    text-align: justify;
}

/*Div principal*/
#main{
    background-color: aquamarine;
    display:grid;
    margin: 20px;
}
#dni{
    width: 150px;
    margin: 2px 0px 2px
}
#nombre{
    width: 300px;
    margin: 2px 0px 2px
}
#dir{
    width: 300px;
    margin: 2px 0px 2px
}
#telf{
    width: 150px;
    margin: 2px 0px 2px
}

/*Estilado de el tipo de pizza*/
h3{
    text-align: center;
}
#main > #formulario1, #formulario2{
    margin: auto;
}
#individual{
    margin-right: 20px;
}
#mediana{
    margin-right: 20px;
}
#familiar{
    margin-right: 20px;
}
#combo{
    margin-right: 20px;
}

/*Estilado para el tipo de masa de la pizza*/
#fina{
    margin-right: 30px;
}
#clasica{
    margin-right: 22px;
}
#gruesa{
    margin-right: 22px;
}
#calzone{
    margin-right: 22px;
}
#lineas, #lineas2{
    border-color: black;
    border-radius: 50px;
    background-color: white;
    border-style:solid;
}